
/* Header part */

body{
    background-image: url('../images//bg2.jpg');
    font-family: Arial, Helvetica, sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#body_login{
    background-color: cadetblue;
}

#brand{ 
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top: -4px;
}

li:hover{
    background-color:gainsboro;
}


/* End of Header part */


/* Profile part */


/* End of Profile part */


/* Login part */


/* End of Login part */



/* Footer part */

/* End of Footer part */

